{%- assign animation = false -%}
{%- if page.home_style == 'animation' -%}
 {%- assign animation = true -%}
{%- endif -%}

<div class="arlo_tm_section" id="about">

    <div class="arlo_tm_about_wrap_all">
        <div class="arlo_tm_about">
            <div class="container">
                <div class="arlo_title_holder">
                    <span>Main Info</span>
                    <h3>About Me</h3>
                </div>
                <div class="about_inner">
                    <div class="{%- if animation -%}leftbox wow fadeInLeft {%- else -%}leftbox {%- endif -%}" {%- if animation -%}data-wow-duration="0.8s"{%- endif -%}>
                        <div class="about_image_wrap parallax" data-relative-input="true">
                            <div class="image layer" data-depth="0.1">
                                <img src="{{ 'img/about/550x650.jpg' | relative_url }}" alt="" />
                                <div class="inner" data-img-url="{{ 'img/about/about6.jpg' | relative_url }}"></div>
                            </div>
                            <div class="border layer" data-depth="0.2">
                                <img src="{{ 'img/about/550x650.jpg' | relative_url }}" alt="" />
                                <div class="inner"></div>
                            </div>
                        </div>
                    </div>
                    <div  class="{%- if animation -%}rightbox wow fadeInRight {%- else -%} rightbox {%- endif -%}" {%- if animation -%}data-wow-duration="0.8s"{%- endif -%} >
                        <div class="about_title">
                            <h3>"끊임없는 질문을 무기로 배우는 개발자"</h3>
                            <h10>안녕하세요. 보다 뜨거운 열정으로 빠르고 깊게 성장하는 예비 벡엔드 개발자 나영원입니다. </h10>
                        </div>
                        <div class="text">
                            <p>
                                다양한 일을 해오면서 변하지 않았던 것은 사람들에게 선한 영향력을 끼치고 싶은 마음이었습니다.
                                하고 있던 일에 한계를 느끼고 있던 와중에 프로그래밍에 관심이 생기면서 다양한 분야의 개발자들에 노력으로 전 세계 수많은 사람의 삶이 더 나아지고 있다는 것을 알게 되었습니다.
                                진지한 고민 끝에 저도 개발을 통해 더 많은 사람에게 좋은 영향력 끼치고 싶다는 결심으로, 하던 일을 정리하고 본격적으로 개발 공부를 시작하였습니다.
                                늦은 나이에 시작한 만큼 간절함을 가지고 작은 의문도 그냥 넘어가지 않고 끝까지 이해하려는 노력을 통해 빠르게 개발자로 성장하고 있습니다
                            </p>
                        </div>
                        <div class="about_short_contact_wrap">
                            <ul>
                                <li>
                                    <img class="svg" src="{{ 'img/svg/gift.svg' | relative_url }}" alt="" />
                                    <span><label>생년월일:</label> 1989년 3월 2일</span>
                                </li>
                                <li>
                                    <img class="svg" src="{{ 'img/svg/calendar-4.svg' | relative_url }}" alt="" />
                                    {%- assign currentYear = site.time | date: "%Y" -%}
                                    {%- assign bathYear = site.date_of_bath | date: "%Y" -%}
                                    
                                    <span><label>나이:</label> {{  currentYear | minus: bathYear }}세</span>
                                </li>
                                <li>
                                    <img class="svg" src="{{ 'img/svg/location-1.svg' | relative_url }}" alt="" />
                                    <span>
                                        <label>주소:</label> 
                                        <a class="href_location" href="#" target='_blank'>{{ site.address }}</a>
                                    </span>
                                </li>
                                <li>
                                    <img class="svg" src="{{ 'img/svg/study-5.svg' | relative_url }}" alt="" />
                                    <span><label>최종학력:</label> <a class="href_location" href="#" target='_blank'>{{ site.study }} </a></span>
                                </li>
                                <li>
                                    <img class="svg" src="{{ 'img/svg/message-3.svg' | relative_url }}" alt="" />
                                    <span><label>메일주소:</label> <a href="mailto:{{ site.email }}" target='_blank'>{{ site.email }}</a></span>
                                </li>
                                <li>
                                    <img class="svg" src="{{ 'img/svg/call-2.svg' | relative_url }}" alt="" />
                                    <span><label>전화번호:</label> <a href="tel:{{ site.phone }}" target='_blank'>{{ site.phone }}</a></span>
                                </li>
                                <li>
                                    <img class="svg" src="{{ 'img/svg/github-logo.svg' | relative_url }}" alt="" />
                                    <span><label>GitHub:</label> <a href="http://{{ site.github }}" target='_blank'>{{ site.github }}</a> </span>
                                </li>
                                <li>
                                    <img class="svg" src="{{ 'img/svg/blog-5.svg' | relative_url }}" alt="" />
                                    <span><label>블로그:</label> <a href="http://{{ site.blog }}" target='_blank'>{{ site.blog }}</a> </span>
                                </li>
                            </ul>
                        </div>
                        <div class="buttons">
                            <ul>
                                <li><a href="{{ site.cv_download_link }}" target="_blank"><span>이력서 보기</span></a></li>
                                <!-- <li><a href="#"><span>이버튼어떻게활용할까</span></a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>