{%- assign animation = false -%}
{%- if page.home_style == 'animation' -%}
 {%- assign animation = true -%}
{%- endif -%}

<div class="arlo_tm_section" id="about">

    <div class="arlo_tm_about_wrap_all">
        <div class="arlo_tm_about">
            <div class="container">
                <div class="arlo_title_holder">
                    <span>Main Info</span>
                    <h3>About</h3>
                </div>
                <div class="about_inner">
                    <div class="{%- if animation -%}leftbox wow fadeInLeft {%- else -%}leftbox {%- endif -%}" {%- if animation -%}data-wow-duration="0.8s"{%- endif -%}>
                        <div class="about_image_wrap parallax" data-relative-input="true">
                            <div class="image layer" data-depth="0.1">
                                <img src="{{ 'img/about/550x650.jpg' | relative_url }}" alt="" />
                                <div class="inner" data-img-url="{{ 'img/about/about2.jpg' | relative_url }}"></div>
                            </div>
                            <div class="border layer" data-depth="0.2">
                                <img src="{{ 'img/about/550x650.jpg' | relative_url }}" alt="" />
                                <div class="inner"></div>
                            </div>
                        </div>
                    </div>
                    <div  class="{%- if animation -%}rightbox wow fadeInRight {%- else -%} rightbox {%- endif -%}" {%- if animation -%}data-wow-duration="0.8s"{%- endif -%} >
                        <div class="about_title">
                            <h3>Hi! I'm YoungWon Na and 
                                <span class="arlo_tm_animation_text_word"></span>
                            </h3>
                        </div>
                        <div class="text">
                            <p>
                                안녕하세요 저는
                                <span>{{ site.first_name }} </span> 나영원 입니다. 
                               {{ site.user_intro }}
                            </p>
                        </div>
                        <div class="about_short_contact_wrap">
                            <ul>
                                <li>
                                    <img class="svg" src="{{ 'img/svg/gift.svg' | relative_url }}" alt="" />
                                    <span><label>생년월일:</label> {{ site.date_of_bath | date: ' %b %d, %Y' }}</span>
                                </li>
                                <li>
                                    <img class="svg" src="{{ 'img/svg/calendar-4.svg' | relative_url }}" alt="" />
                                    {%- assign currentYear = site.time | date: "%Y" -%}
                                    {%- assign bathYear = site.date_of_bath | date: "%Y" -%}
                                    
                                    <span><label>나이:</label> {{  currentYear | minus: bathYear }}</span>
                                </li>
                                <li>
                                    <img class="svg" src="{{ 'img/svg/location-1.svg' | relative_url }}" alt="" />
                                    <span>
                                        <label>주소:</label> 
                                        <a class="href_location" href="#">{{ site.address }}</a>
                                    </span>
                                </li>
                                <li>
                                    <img class="svg" src="{{ 'img/svg/github-logo.svg' | relative_url }}" alt="" />
                                    <span><label>github repo:</label> {{ site.interests }}</span>
                                </li>
                                <li>
                                    <img class="svg" src="{{ 'img/svg/study-5.svg' | relative_url }}" alt="" />
                                    <span><label>최종학력:</label> <a class="href_location" href="#">{{ site.study }} </a></span>
                                </li>
                                <li>
                                    <img class="svg" src="{{ 'img/svg/degree-1.svg' | relative_url }}" alt="" />
                                    <span><label>전공:</label> {{ site.degree }}</span>
                                </li>	
                                <li>
                                    <img class="svg" src="{{ 'img/svg/message-3.svg' | relative_url }}" alt="" />
                                    <span><label>메일주소:</label> <a href="mailto:{{ site.email }}">{{ site.email }}</a></span>
                                </li>
                                <li>
                                    <img class="svg" src="{{ 'img/svg/call-2.svg' | relative_url }}" alt="" />
                                    <span><label>전화번호:</label> <a href="tel:{{ site.phone }}">{{ site.phone }}</a></span>
                                </li>
                            </ul>
                        </div>
                        <div class="buttons">
                            <ul>
                                <li><a href="{{ site.cv_download_link }}"><span>Download CV</span></a></li>
                                <li><a href="#"><span>Send Message</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>