{%- assign animation = false -%}
{%- if page.home_style == 'animation' -%}
 {%- assign animation = true -%}
{%- endif -%}
<div class="arlo_tm_section" id="services">
    <div class="arlo_tm_services">
        <div class="container">
            <div class="arlo_title_holder">
                <span>{{ site.our_services_tagline }}</span>
                <h3>{{ site.our_services_title }}</h3>
            </div>
            <div class="service_inner">
                <div class="arlo_tm_progress_wrap">
                    <div class="progress_wrap_inner">
                        <div class="left">
                            <div class="main_title">
                                <!-- <h3>저는 지금 까지 이런 것들을 준비해왔습니다.</h3> -->
                            </div>
                            <div class="text">
                                <p>패트스캠퍼스의 Java 백엔드 과정을 수료하며 Java 문법과 CS 및 웹 개발 전반에 관한 기초 과목들을 수강하였고 Java를 바탕으로 Spring/SpringBoot 프레임워크 및 JPA를 활용한 REST API 서버개발을 주제로 공부하였습니다. 
                                    이후 프론트엔드 팀과 진행한 프로젝트를 통하여 AWS와 Github Actions를 활용하여 서버를 배포한 경험이 있으며 Github, GitFlow, Github Projects등의 협업 도구들을 활용해 보았습니다.</p>
                            </div>
                        </div>
                        <div class="right">
                            <div class="arlo_progress">
                                {%- for skill in site.professional_skills -%}
                                <div class="progress_inner" data-value="{{ skill.percentage }}" data-color="#ff214f">
                                    <span>
                                        <span class="label">{{ skill.name }}</span>
                                        <span class="number">{{ skill.percentage }}%</span>
                                    </span>
                                    <div class="background">
                                        <div class="bar"><div class="bar_in"></div></div>
                                    </div>
                                </div>
                                {%- endfor -%}
                        </div>
                    </div>
                </div>
                <ul>
                    {%- for service in site.our_services -%}
                    <li  class="{%- if animation -%}wow fadeInUp{%- endif -%}" {%- if animation -%} data-wow-duration="0.8s" {%- endif -%} {%- if animation -%}data-wow-delay="0.{{ forloop.index | plus: 1 | times: 2 }}s" {%- endif -%}>
                        <div class="inner">
                            <img class="svg" src="{{ service.image | relative_url }}" alt="" />
                            <h3>{{ service.name }}</h3>
                            <p>{{ service.description }}</p>
                        </div>
                    </li>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    </div>
</div>